<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div id="Header" th:replace="/common/header.html :: header">
</div>
<head>
    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <!-- CSS -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <link rel="stylesheet" href="/css/chat.css">
    <script th:inline="javascript">
        /* <![CDATA[ */
        var RoomData = /*[[${RoomData}]]*/;
        /*]]>*/
        /* <![CDATA[ */
        var PostData = /*[[${PostData}]]*/;
        /*]]>*/
        /* <![CDATA[ */
        var MessageList = /*[[${MessageList}]]*/;
        /*]]>*/

        /* <![CDATA[ */
        var currentUser = /*[[${currentUser}]]*/;
        /*]]>*/

        /* <![CDATA[ */
        var otherUser = /*[[${otherUser}]]*/;
        /*]]>*/

    </script>
    <script th:src="@{/js/chatroom.js}"></script>

</head>
<body>
<h3 th:if="${RoomData}"> 현재 방 이름 : [[${RoomData.subject}]]</h3>
<h3 th:if="${RoomData}"> 현재 접속중인 나는 누구? : [[${currentUser.name}]]</h3>
<!-- 내용 수정 필수. -->
<div class="container-full">
    <div class="row justify-content-between">
        <div class="col">
            <div class="card chat-app">
                <div class="chat">
                    <div class="row chat-header clearfix ">
                        <div class="row">
                            <div class="col-lg-3">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">[[${otherUser.name}]]</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 채팅 히스토리 -->
                    <div class="col chat-history">
                        <ul class="m-b-0" id = "NewChatList">

                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <textarea type="text" class="form-control" id="chatInput" rows="2" placeholder="채팅을 입력해주세요" name="chatInput"></textarea>
                            <button class="sendButton input-group-text"id="sendChat">
                                <div class="fa fa-send sendImg"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3">

            <dl>
                <!-- 판매글 제목 -->
                <dt>
                    <a th:href="@{'/board/detail/' + ${PostData.post_id}}" th:text="${PostData.subject}" class="subject"
                       onclick="clickLink(event, '${PostData.post_id}')"></a>
                </dt>
                <!-- 판매글 가격 -->
                <dd th:text="${#numbers.formatDecimal(PostData.price, 0, 'COMMA', 0, 'POINT') + '원'}"
                    class="price"></dd>
                <!-- 판매글 작성자명 -->
                <dd th:text="${PostData.user.name}" class="name"></dd>
                <!-- 판매글 작성일 & 조회수 -->
                <dd class="date_cnt">
                    <span th:text="${#temporals.format(PostData.regDate, 'MM/dd')}" class="regDate"></span>
                    <span th:text="'조회 ' + ${PostData.viewCnt}" class="viewCnt"></span>
                </dd>
            </dl>

            <div id="plist" class="row people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    <li class="clearfix">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                        <div class="about">
                            <div class="name">Vincent Porter</div>
                            <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>