<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <!-- CSS -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <link rel="stylesheet" href="/css/chat.css">
    <script th:inline="javascript">
        /* <![CDATA[ */
        var RoomData = /*[[${RoomData}]]*/;
        /*]]>*/
        /* <![CDATA[ */
        var PostData = /*[[${PostData}]]*/;
        /*]]>*/
        /* <![CDATA[ */
        var MessageList = /*[[${MessageList}]]*/;
        /*]]>*/

        /* <![CDATA[ */
        var currentUser = /*[[${currentUser}]]*/;
        /*]]>*/

        /* <![CDATA[ */
        var otherUser = /*[[${otherUser}]]*/;
        /*]]>*/

    </script>
    <script th:src="@{/js/chatroom.js}"></script>

    <div id="Header" th:replace="/common/header.html :: header">
    </div>
</head>
<body>
<!-- 내용 수정 필수. -->
<div class="container-full">
    <div class="row ">
        <div class="col">
            <div class="card chat-app">
                <div class="chat">
                    <div class="row chat-header clearfix ">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="chat-about">
                                    <h6 class="otherName m-b-0">[[${otherUser.name}]]</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 채팅 히스토리 -->
                    <div class="col chat-history">
                        <ul class="m-b-0" id = "NewChatList">

                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <textarea type="text" class="form-control" id="chatInput" rows="2" placeholder="채팅을 입력해주세요" name="chatInput"></textarea>
                            <button class="sendButton input-group-text"id="sendChat">
                                <div class="fa fa-send sendImg"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <ul class="col-lg-auto card w-25">
        <!-- 판매글 대표 이미지 -->
            <h2 class ="card-title text-sm-center mt-2"
                th:text="${PostData.subject}"></h2>
            <div class="image-container">
                <!-- 대표 이미지가 있을 때 -->
                <img class="card-img-top" th:if="${ PostData != null and MainImg != null }"
                     th:src= "@{'/upload/' + ${MainImg.filename}}"/>

                <!-- 대표 이미지가 없을 때 -->
                <img class="card-img-top" th:unless="${PostData != null and MainImg != null  }"
                     src="/upload/sample.jpg" />
            </div>

            <div class="card-body">
                <!-- 판매글 제목 -->
                <span class="list-i-selling">
                    <i th:class="${PostData.status == 0} ? 'status selling' : 'status sold-out'"></i>
                </span>
                <!-- 판매글 작성일 & 조회수 -->
                <div class="col date-cnt">
                    <span th:text="${#temporals.format(PostData.regDate, 'MM/dd')}" class="regDate"></span>
                    <span th:text="'조회 ' + ${PostData.viewCnt}" class="viewCnt"></span>
                </div>
                <!-- 판매글 작성자명 -->
                <div class="col content" th:text="${PostData.contents}" ></div>
                <!-- 판매글 가격 -->
                <h5 class="col mt-3 border-top"></h5>
                <h3 class="col mt-3 price" th:text="${#numbers.formatDecimal(PostData.price, 0, 'COMMA', 0, 'POINT') + '원'}"></h3>
            </div>
        </ul>
    </div>
</div>
</body>
</html>