<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="comment">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/comment.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

        <div sec:authorize="hasAnyRole('ADMIN','MEMBER')">
            <label>[[${logged_user.name}]]:</label>
            <input type="text" id="input_comment" placeholder="댓글을 남겨보세요">
            <button type="button" id="btn_comment">등록</button>
        </div>

        <table id="cmt_table">
            <thead>
            <tr>
                <th style="width: 16.66%">작성자</th>
                <th>내용</th>
                <th style="width: 16.66%">작성일</th>
            </tr>
            </thead>
            <tbody id="cmt_list"></tbody>
        </table>
    </div>

</th:blaock>

</html>