<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/user.css">
    <title>로그인</title>
</head>
<body>

<div id="login-wrapper">

    <div class="login">
        <h1>Second Share <br> 로그인</h1>
    </div>

    <hr><br><br>

    <div class="loginForm">
        <div class="col-12 text-danger" th:text="${errorMsg}">
            <!-- 에러 메세지 -->
        </div>

        <form th:action="@{/user/login}" method="POST">

            <div class="log-group">
                <input type="text" class="login-input" placeholder="ID" th:value="${username}">
            </div>
            <div class="log-group">
                <input type="text" class="login-input" placeholder="Password" th:value="${password}">
            </div>

            <div class="log-group">
                <input type="checkbox" id="remember" value="remember-me"> Remember Me
            </div>


            <div class="log-group-submit">
                <button type="submit">로그인</button> <br>
                계정이 없다면? <a th:href="@{/user/register}">회원가입</a>
            </div>

        </form>
    </div>

</div>
</body>
</html>
