<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/user.js}"></script>
    <title>로그인</title>
</head>
<body>



    <div class="loginForm">

        <form th:action="@{/user/login}" method="POST">

            <div class="login">
                <h1>Second Share <br> 로그인</h1>
            </div>
            <hr><br><br>

            <div class="log-group">
                <input type="text" class="login-input" placeholder="ID" th:value="${username}" required>
            </div>
            <div class="log-group">
                <input type="password" class="login-input" placeholder="Password" required>
            </div>

            <div class="log-group">
                <input type="checkbox" id="remember" value="remember-me"> Remember Me
            </div>



            <button type="submit" id="loginBtn">로그인</button> <br>
            계정이 없다면? <a class="moveToRegister" th:href="@{/user/register}">회원가입</a>


        </form>
    </div>

</body>
</html>
