<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragmnet="header">
    <nav>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="containner">
                <div class="navbar-header">
                    <a class="navbar-brand">관리자 페이지</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">홈</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</th:block>

</body>
</html>