* {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.album-img {
    display: block;
    position: relative;
    text-align: center;
}

.post-container {
    width: 100%;
    text-align: center;
}

dl {
    display: inline-block;
    width: 15%;
    margin: 25px;
    vertical-align: top;
}