.listPage {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

.album-img {
    display: block;
    position: relative;
    text-align: center;
}

.post-container {
    width: 100%;
    text-align: center;
}

dl {
    display: inline-block;
    width: 15%;
    margin: 25px;
    vertical-align: top;
}