#content-area {
    max-width: 1200px;
    margin: 0 auto;
}

.article-album {
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.article-album li {
    width: 18%;
    margin-bottom: 20px;
}

.album-img {
    display: block;
    position: relative;
    text-align: center;
}

.album-img img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.soldChk {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000;
    color: #fff;
    padding: 5px;
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.list-i-selling {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
}

.status {
    background-color: #CB4335;
    color: #fff;
    text-align: center;
    display: block;
}

.status.selling::before {
    content: "판매중";
    font-size: 12px;
}

.status.sold-out::before {
    content: "판매완료";
    font-size: 12px;
}