/* -------------- 회원가입 페이지 ---------------- */

#register-wrapper {
    width: 1000px;
    height: 1500px;
    margin: auto;
}

.register h1 {
    text-align: center;
}

.regForm {
    outline: 3px solid #333;
    border-radius: 5px;
    padding: 8px;
}

.reg-group {
    font-size: 20px;
    margin-left: 250px;
}

.reg-group p {
    display: none;
    float: right;
}

.reg-group input.reg-input {
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 500px;
    height: 30px;
}

.reg-group input.button {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.reg-group #idChkButton {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.joinBottom {
    text-align: center;
}


#joinBtn {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

[id^="label"] {
    font-size: 13px;
}

.must {
    color: red;
}







/* -------------- 로그인 페이지 ---------------- */

.login h1 {
    text-align: center;
}

.loginForm {
    outline: 3px solid #333;
    border-radius: 5px;
    padding: 10px;
    width: 1000px;
    height: 450px;
    margin: auto;
}

.log-group {
    font-size: 20px;
    text-align: center;
}

.log-group input.login-input {
    border-radius: 3px;
    outline: 2px solid #333;
    margin-top: 10px;
    margin-bottom: 7px;
    width: 550px;
    height: 40px;
}

div.remember {
    font-size: 13px;
}

#loginBtn {
    border-radius: 5px;
    width: 250px;
    height: 40px;
    background-color: #007bff;
    border: 1px solid #007bff;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.log-group-submit {
    text-align: center;
    margin-top: 15px;
}

.log-group-submit a {
    color: #333;
    font-weight: bold;
}

