<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script src="/js/main.js"></script>
    <title>메인 페이지</title>
</head>
<body>

<th:block th:insert="~{common/header::header}"></th:block>

<div class="container mt-3">

    <!-- 환영 메세지 (로그인 시에만) -->
    <div th:if="${currentUser != null}" class="alert alert-info alert-dismissible mt-3">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 th:text="'안녕하세요, ' + ${#authentication.principal.username} + '님! 환영합니다.'"></h4>
    </div>

    <br>

    <div id="content-area" class="mainPosts">
        <h2>최신 판매글</h2>
        <ul class="article-album">
            <li th:each="post : ${latestPosts}">
                <!-- 판매글 대표 이미지 -->
                <a th:href="@{'/board/detail/' + ${post.post_id}}" class="album-img"
                   onclick="clickLink(event, '${post.post_id}')">
                    <div class="image-container">
                        <!-- 대표 이미지가 있을 때 -->
                        <img th:if="${post != null and (post['filename'] != null or post['attachment_filename'] != null)}"
                             th:src="${post['filename'] != null ? post['filename'] : post['attachment_filename']}" />
                        <!-- 대표 이미지가 없을 때 -->
                        <img th:unless="${post != null and (post['filename'] != null or post['attachment_filename'] != null)}"
                             src="/sample.jpg" />
                        <span class="list-i-selling">
                            <i th:class="${post.status == 0} ? 'status selling' : 'status sold-out'"></i>
                        </span>
                    </div>
                </a>
                <dl>
                    <!-- 판매글 제목 -->
                    <dt>
                        <a th:href="@{'/board/detail/' + ${post.post_id}}" th:text="${post.subject}" class="subject"
                           onclick="clickLink(event, '${post.post_id}')"></a>
                    </dt>
                    <!-- 판매글 가격 -->
                    <dd th:text="${#numbers.formatDecimal(post.price, 0, 'COMMA', 0, 'POINT') + '원'}"
                        class="price"></dd>
                    <!-- 판매글 작성자명 -->
                    <dd th:text="${post.username}" class="name"></dd>
                    <!-- 판매글 작성일 & 조회수 -->
                    <dd class="date_cnt">
                        <span th:text="${#temporals.format(post.regDate, 'MM/dd')}" class="regDate"></span>
                        <span th:text="'조회 ' + ${post.viewCnt}" class="viewCnt"></span>
                    </dd>
                </dl>
            </li>
        </ul>

        <br><br><br>

        <!-- 관심 판매글 목록 -->
        <h2>관심 판매글</h2>
        <!--로그인 했을 때-->
<!--        <div th:if="${currentUser != null}">
            <ul class="article-album">
                &lt;!&ndash; 관심 판매글이 있을 때 &ndash;&gt;
                <th:block th:if="${not #lists.isEmpty(likedPosts)}">
                    <li th:each="likedPost : ${likedPosts}">
                        &lt;!&ndash; 판매글 대표 이미지 &ndash;&gt;
                        <a th:href="@{'/board/detail/' + ${likedPost.post_id}}" class="album-img"
                           onclick="clickLink(event, '${likedPost.post_id}')">
                            <div class="image-container">
                                &lt;!&ndash; 대표 이미지가 있을 때 &ndash;&gt;
                                <img th:if="${likedPost != null and (likedPost['filename'] != null or likedPost['attachment_filename'] != null)}"
                                     th:src="${likedPost['filename'] != null ? likedPost['filename'] : likedPost['attachment_filename']}" />
                                &lt;!&ndash; 대표 이미지가 없을 때 &ndash;&gt;
                                <img th:unless="${likedPost != null and (likedPost['filename'] != null or likedPost['attachment_filename'] != null)}"
                                     src="/sample.jpg" width="200" height="200" alt="img">
                                <span class="list-i-selling">
                            <i th:class="${likedPost.status == 0} ? 'status selling' : 'status sold-out'"></i>
                        </span>
                            </div>
                        </a>
                        <dl>
                            &lt;!&ndash; 판매글 제목 &ndash;&gt;
                            <dt>
                                <a th:href="@{'/board/detail/' + ${likedPost.post_id}}" th:text="${likedPost.subject}"
                                   class="subject"
                                   onclick="clickLink(event, '${likedPost.post_id}')"></a>
                            </dt>
                            &lt;!&ndash; 판매글 가격 &ndash;&gt;
                            <dd th:text="${#numbers.formatDecimal(likedPost.price, 0, 'COMMA', 0, 'POINT') + '원'}"
                                class="price"></dd>
                            &lt;!&ndash; 판매글 작성자명 &ndash;&gt;
                            <dd th:text="${likedPost.username}" class="name"></dd>
                            &lt;!&ndash; 판매글 작성일 & 조회수 &ndash;&gt;
                            <dd class="date_cnt">
                                <span th:text="${#temporals.format(likedPost.regDate, 'MM/dd')}" class="regDate"></span>
                                <span th:text="'조회 ' + ${likedPost.viewCnt}" class="viewCnt"></span>
                            </dd>
                        </dl>
                    </li>
                </th:block>-->

                <!-- 관심 판매글이 없을 때 -->
                <th:block th:unless="${not #lists.isEmpty(likedPosts)}">
                    <p>관심 판매글이 없습니다.</p>
                </th:block>

            </ul>
        </div>

        <!--로그인 하지 않았을 때-->
        <div th:if="${currentUser == null}">
            <p>로그인 후에 관심 판매글을 확인할 수 있습니다. <!--<a th:href="@{/user/login}">로그인</a></p>-->
        </div>
    </div>
</div>


</div>

</body>
</html>